body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(160, 241, 241);
    font-family:Georgia, 'Times New Roman', Times, serif;
}

h1 {
    color: rgb(35, 32, 53);
    text-align: center;
    margin-bottom: 20px;
}

h3 {
    color: rgb(35, 32, 53);
    text-align: center;
    margin-bottom: 20px;
}
#image-container {
    margin-bottom: 20px;
    border-radius: 10px ;
    overflow: hidden;
    width: 200px;
    height: auto;
}

.button-container {
    display: flex;
    gap: 15px;
    color:rgb(3, 3, 75)
}

button {
    padding: 10px 20px;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: rgb(3, 3, 75);
    color: rgb(229, 255, 80);
}

.hidden {
    display: none;
}

.text-container {
    margin-top: 20px;
    font-size: 18px;
    color: rgb(35, 32, 53);
    text-align: center;
    max-width: 600px;
}

.container {
    margin-top: 20px;
    text-align: center;
}

input {
    margin: 5px;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
 button:hover {
            background-color: #0056b3;
 }

            #resultado {
    margin-top: 15px;
    font-size: 18px;
    color: rgb(32, 7, 78);
}